<!DOCTYPE html>
<html>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<head>
  <title>Base</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <div class="container" style="padding-top:10px; padding-bottom:0px;">

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" id="navbar-title">Title</a>

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/home">home</a></li>
            <li><a href="/families">create a family</a></li>
            <li><a href="/members">join a family</a></li>
            <li><a href="login">sign in</a></li>
            <li><a href="javascript:signOut()">sign out</a></li>
            <li><a href="users">sign up!</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="alert_placeholder"></div>

  </div>

  {% block content %}
  {% endblock %}

  <script type="text/javascript">
    var currentUser = {}

    function showAlert(type, message, dialog) {
      var div = "<div class='alert " + type + " fade in'> " +
        '<a href="#" class="close" data-dismiss="alert">&times;</a> ' +
        message +
        "</div>"

      if (dialog) {
        $('#messages').append(div)
      } else {

        $('#alert_placeholder').append(div)
      }
    }

    function getCurrentUser() {
      var title = "No Session"
      var cookie = getCookie("Authorization")
      if (cookie) {
        currentUser = parseJwt(getCookie("Authorization"))
        var title = "No Session"
        if (currentUser) {
          title = currentUser.name
        }
      }

      $('#navbar-title').replaceWith('<a class="navbar-brand" href="#" id="navbar-title">' + title + '</a>')
      return currentUser
    }

    function signOut() {
      deleteCookie("Authorization")
      window.location.href = '/login';
    }

    function parseJwt(token) {
      var base64Url = token.split('.')[1];
      var base64 = base64Url.replace('-', '+').replace('_', '/');
      return JSON.parse(window.atob(base64));
    };

    function getCookie(name) {
      var v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
      return v ? v[2] : null;
    }

    function setCookie(name, value, days) {
      var d = new Date;
      d.setTime(d.getTime() + 24 * 60 * 60 * 1000 * days);
      document.cookie = name + "=" + value + ";path=/;expires=" + d.toGMTString();
    }

    function deleteCookie(name) {
      setCookie(name, '', -1);
    }
  </script>
</body>

</html>