{% extends "base.html" %}

{% block content %}

<div class="container">

  <form>

    <label style="margin-top: 10px" for="family_selector">Join a Family</label>
    <select class="form-control" id="family_selector" onchange="familySelected(this)">
      <!-- POPULATED FROM AJAX -->
    </select>
    <button type="button" onclick="joinFamily()" style="margin-top: 10px" id="addButton" class="btn btn-primary ">Join</button>
  </form>
</div>

<!-- TODO: MOVE TO STATIC DIR -->

<script type="text/javascript">
  var currentFamilyObject = {}

  
  // CALLED WHEN WINDOW LOADS - GET TOKEN AND GET CURRENT USER JWT

  $(window).on('load', function() {
    // SETS and RETURNS 'currentUser' var in BASE.
    getCurrentUser();  
    getAllFamilies();
  });

  function joinFamily() {
    uploadMember(currentUser.public_id, currentFamilyObject.public_id, currentFamilyObject.name)
  }


  function familySelected(obj) {
    currentFamilyObject = JSON.parse(atob(obj.value))
    console.log(currentFamilyObject)
  }

  function uploadMember(user, family_id, familyName) {
    item = {
      user_id: user,
      family_id: family_id
    }
    $.ajax({
      type: "POST",
      url: "/member/",
      data: JSON.stringify(item),
      contentType: 'application/json;charset=UTF-8',
    }).done(function(data) {      
      showAlert("alert-success", "Welcome to the " + familyName + " family!")          
      
    }).fail(function(error) {
      console.log(error.responseText);
        showAlert("alert-warning", "You are already a member of the  " + familyName + " family!") 
    });
  }  

  function getAllFamilies() {

    $.ajax({
      type: "GET",
      url: "/family/",
      dataType: "json",
      success: function(result) {
        $.each(result.data, function(i) {
          currentFamilyObject = result.data[0]
          var family = result.data[i]
          var div_data = "<option value=" + btoa(JSON.stringify(family)) + ">" + family.name + "</option>";
          $(div_data).appendTo('#family_selector');
        })
      }
    });
  };
</script>
{% endblock %}